/* This is a comment */

body {
	background-color: rgb(196, 196, 255);
	background-image: url(../images/bg.jpg);
	background-size: cover;
	font-family: American Typewriter, Arial

}

.main {
	max-width: 600px;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 0 auto;
	padding: 40px;
}

h1 {
	font-family: 'Slabo 27px', serif;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
	margin-bottom: 20px;

}

h2 {text-align: center;
text-transform: uppercase;
font-weight: normal;
letter-spacing: 5px;
font-size: 12px;
margin-bottom: 20px;

}

h3 {margin-top: 0;
	cursor: pointer;
}

img {
	display: block;
	margin: 50px auto 0;
	border: 20px solid white;
	border-radius: 50%;

}

p,
ul,
ol {
	line-height: 1.5;
	list-style: none;
	padding-left: 0;
}

a {
	color: darkblue;
	text-decoration: none;
	font-weight: bold;

}

a:hover {
	color: lightblue;
	text-decoration: underline;

}
}

